$color-cliqz-black: #1A1A25;
$color-cliqz-blue: #00AEF0;
$color-cliqz-gray: #BFCBD6;
$speed-dial-count: 5;
$speed-dial-width: 166px;
$content-width: calc(#{$speed-dial-count} * #{$speed-dial-width});
